{% extends 'notes\base.html'%}
{% block content %}
    <form method="POST">
      {% csrf_token %}
      <div>
        <label for="title">Note title:</label>
        <input type="text" id="title" name="note_title" />
      </div>
      <div>
        <label for="note_test">Note text:</label>
        <textarea id="note_test" name="note_text"></textarea>
      </div>
      <button class="button" type="submit">Save your note</button>
    </form>
    <p></p>
    {% for note in notes %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ note.date_posted | date:'d F Y' }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ note.title }}</a></h2>
            <p class="article-content">{{ note.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}